<section class="site-section" id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2><span data-i18n="contact.title">Contact</span></h2>
                </div>
            </div>

            <div class="col-md-7 mb-5 mb-md-0">
                <form action="" class="site-form">
                    <h3 class="mb-5" data-i18n="contact.formTitle">Contact</h3>
                    <div class="form-group">
                        <input type="text" class="form-control px-3 py-4" placeholder=""
                            data-i18n-placeholder="contact.namePlaceholder">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control px-3 py-4" placeholder=""
                            data-i18n-placeholder="contact.emailPlaceholder">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control px-3 py-4" placeholder=""
                            data-i18n-placeholder="contact.phonePlaceholder">
                    </div>
                    <div class="form-group mb-5">
                        <textarea class="form-control px-3 py-4" cols="30" rows="10" placeholder=""
                            data-i18n-placeholder="contact.messagePlaceholder"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary  px-4 py-3" value=""
                            data-i18n-value="contact.submitButton">
                    </div>
                </form>
            </div>
            <div class="col-md-5 pl-md-5">
                <h3 class="mb-5" data-i18n="contact.contactDetails">My Contact Details</h3>
                <ul class="site-contact-details">
                    <li>
                        <span class="text-uppercase" data-i18n="contact.email">Email</span>
                        barrouta.zouhaier@gmail.com
                    </li>
                    <li>
                        <span class="text-uppercase" data-i18n="contact.phone">Phone</span>
                        +216 26 796 989
                    </li>
                    <li>
                        <span class="text-uppercase" data-i18n="contact.portfolio">Portfolio</span>
                        <a href="https://zouhaier-gl3.github.io" target="_blank">zouhaier-gl3.github.io</a>
                    </li>
                    <li>
                        <span class="text-uppercase" data-i18n="contact.address">Address</span>
                        Ariana, Tunisie
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>