<h2 mat-dialog-title data-i18n="login.title">Admin Access</h2>
<mat-dialog-content class="pb-4">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="row w-100 mx-0 mt-3">
      <div class="col-12 px-0">
        <mat-form-field appearance="fill">
          <mat-label data-i18n="login.username">Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput [(ngModel)]="username" name="username" required autocomplete="username" placeholder="Enter admin username" data-i18n-placeholder="login.usernamePlaceholder">
        </mat-form-field>
      </div>
      
      <div class="col-12 px-0">
        <mat-form-field appearance="fill">
          <mat-label data-i18n="login.password">Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput [(ngModel)]="password" name="password" [type]="hidePassword ? 'password' : 'text'" required autocomplete="current-password" placeholder="Enter security key" data-i18n-placeholder="login.passwordPlaceholder">
          <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    
    <div *ngIf="error" class="text-danger">
      <mat-icon class="align-middle mr-1" style="font-size: 18px;">warning</mat-icon> {{ error }}
    </div>
    
    <mat-dialog-actions class="modal-actions px-0">
      <button mat-button type="button" (click)="onNoClick()" class="btn-cancel">
        <span data-i18n="login.cancel">Cancel</span>
      </button>
      <button mat-flat-button color="primary" type="submit" class="btn-login ml-auto">
        <span data-i18n="login.unlock">Unlock Dashboard</span>
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
