<section class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                <img src="assets/images/image_profile.png" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
                <div class="section-heading">
                    <h2><span data-i18n="about.title">About Me</span></h2>
                </div>
                <p class="lead" data-i18n="about.lead">Frontend Angular Developer with over 5 years of experience</p>
                <p class="mb-5" data-i18n="about.description">Expert in creating high-performance, responsive, and
                    maintainable web applications. Passionate about designing intuitive user interfaces and seamless
                    user experiences, with deep mastery of the Angular RxJS ecosystem and development best practices. My
                    goal is to transform complex requirements into elegant, scalable, and high-quality interfaces.</p>

                <p>
                    <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll"
                        data-i18n="about.hireMe">Hire Me</a>
                    <a href="assets/zouhaier_barrouta CV front_end fr.pdf" class="btn btn-secondary px-4 py-2 btn-sm"
                        data-i18n="about.downloadCV" download>Download CV</a>
                </p>
            </div>
        </div>


    </div>
</section>