<footer class="site-footer">
    <div class="container">

        <div class="row mb-5">
            <p class="col-12 text-center" dir="ltr">
                <span data-i18n="footer.copyright">Copyright</span> &copy; {{ currentYear }} <span data-i18n="footer.rights">All rights reserved</span>
            </p>
        </div>

        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="#" class="social-item"><span class="icon-facebook2"></span></a>
                    <a href="#" class="social-item"><span class="icon-twitter"></span></a>
                    <a href="#" class="social-item"><span class="icon-instagram2"></span></a>
                    <a href="#" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="#" class="social-item"><span class="icon-vimeo"></span></a>
                </p>
            </div>
        </div>

    </div>
</footer>